html {
	font-family: Questa;
}

title {
	font-size: arial;
}

body {
	margin: 0px;
	background-color: rgb(5, 44, 88);
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.greeting {
	margin: 40px 0;
	padding: 10px 30px;
	font-size: 50px;
	color: white;
}

.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 40px;
  transition: transform 1s;
}

.avatar:hover {
	transform: rotate(35deg);
}

.nav-bar {
	/* padding: 0 20px 0 20px;  */
	background-color: rgba(0, 119, 255, 0.3);
	backdrop-filter: blur(20px);
	/* padding: 10px; */
	position: relative;
	display: flex;
	/* line-height: 1em; */
	justify-content: space-around;
	align-items: center;
}

.logo-container {
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
}

.logo-container > .element {
	margin-right: 20px;
	line-height: 2em;
	display: inline-block;
	text-align: center;
	font-size: large;
	color: rgb(173, 215, 255);
	padding: 10px 10px;
	text-decoration: none;
}

.logo-container > .element:hover {

	color: rgb(29, 95, 172);
	background-color: #fff;
}


/* .logo {
	width: 40px;
	height: 40px;
} */

.logo {
	filter: brightness(1);
	width: 40px;
	height: 40px;
	transition: all 0.8s;
}

.logo:hover{
	filter: brightness(0.7);
}

.portion {
	justify-content: space-between;
	align-items: center;
	width: 85%;
	display: flex;
}


/* .nav-bar > .bg {
	background-color: #fff;
	background-color: rgba(0,0,0,0.15);
	backdrop-filter: blur(10px);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
} */

.nav-hrefs {
	display: flex;
	justify-content: space-between;
	width: 50%;
	/* line-height: 2em; */
	text-decoration: none;
}

.nav-hrefs > .element {
	line-height: 2em;
	display: inline-block;
	text-align: center;
	font-size: large;
	color: rgb(173, 215, 255);
	padding: 10px 10px;
	text-decoration: none;
}

.nav-hrefs > .element:hover {
	color:rgb(29, 95, 172);
	text-decoration: underline;
	background-color: #ffffff;
	transition: background-color 3s cubic 3s;
}

.nar-bar > .about {
	float: right;
}

.dark-bg {
	background-color: black;
	position: relative;
}

.main {
	background-image: url(./bg/1.png);
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.intro {
	padding: 20px 150px;
}

.me {
	font-size: 20px;
	line-height: 2.5em;
	color: white;
}

.footnote {
	color: #f4eccd;
	font-size: 8;
	line-height: 1em;
}

.statement {
	font-size: 20px;
	background-color: rgb(5, 44, 88);
	padding: 25px 25%;
	color: #ffffff;
}

.paragraph {
	margin: 20px 0;
}

.paragraph > .lorem {
	font-style: italic;
	display: inline;
	color: antiquewhite;
	transition: color 0.8s;
	text-decoration: none;
}

.paragraph > .lorem:hover {
	color: rgb(124, 216, 255);
	text-decoration: underline;
}

.dumbbell {
	margin: 20px 5%;
	padding: 20px;
	text-align: center;
	font-size: x-large;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration: none;
	background-color: rgb(255, 157, 92);
	filter: drop-shadow(2px 2px 2px #032761);
	transition: background-color 0.5s;
	transition: filter 0.2s;
}

.dumbbell > a {
	text-decoration: none;
	color: rgb(255, 233, 226)
}

.dumbbell:hover {
	background-color: rgb(255, 255, 255);
	filter: drop-shadow(4px 4px 4px #101010);
}


.dumbbell > a:hover {
	text-decoration: none;
	color: rgb(255, 149, 117)
}

span.hide {
	color: inherit;
	transition: color 0.5s;
}

span.hide:hover {
	color: #ff6cc2;
}

.content {
	background-color: rgb(5, 44, 88);
	/* background-image: url(bg/2.png); */
	/* background-size: cover;
	background-repeat: no-repeat; */
	align-content: center;
	/* background-color: #182436; */
	color: white;
	position: relative;
	overflow: hidden;
}

h1 {
	margin: 0;
	text-align: center;
}

.layout {
	
	align-items: center;
	margin: 40px 0;
	font-size: larger;
	
}

.layout > .date {
	font-size: 30px;
	margin: 0 25%;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-radius: 2px;
	padding-bottom: 5px;
}

.layout > .entry {
	align-items: center;
	margin: 0 25%;
	border: 2px;
	border-color: #ffffff;
	/* border-style: solid; */
	padding: 10px;
}

.entry > .title {
	font-size: 20px;
	color: bisque;
	font-size: medium;
}

.entry a {
	font-size: 20px;
	text-decoration: none;
	color: inherit;
}

.entry a:hover {
	text-decoration: underline;
}

.entry > .description {
	padding-top: 10px;
	font-size: 20px;
	color: #cde0ff;
}

.title > span {
	font-size: 20px;
	color: white;
}

.moments {
	font-size: x-large;
	margin: 30px calc(10%) 20px;
	text-align: center;
	line-height: 1em;
	position: relative;
}

/* .moments:hover {
	background-color: #5f7c98;
} */

.bottom {
	background-color: #ffffff;
	position: relative;
	overflow: hidden;
}

.bottom > .bg {
	background-image: url(bg/1.png);
	background-size: cover;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
}

.bottom > .text {
	position: relative;
	text-align: center;
	padding: 20px;
	color: white;
}

.index {
	border-color: white;
	border-style: solid;
	border-width: 2px;
	width: 25%;
	display: inline-block;
	text-align: left;
}

.panel {
	margin-left: calc(40%);
	width: 45%;
	display: inline-block;
	text-align: left;
	border-style: solid;
	border-width: 5px;
	margin-left: 30px;
	background-color: rgb(19, 78, 102);
	padding: 20px;
}

.content > .bg {
	/* z-index: -1; */
	background-image: url(bg/4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.9;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.floating {
	bottom: 15px;
	left: 20px;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #8affea;
	position: fixed;	

	text-decoration: none;
	color: rgb(38, 50, 181);
	border: none;
	/* background-color: transparent; */
	cursor: pointer;
}

@font-face {
	font-family: Questa;
	src: url(fonts/2-Questa_Regular.otf);
}