html {
	font-family: Questa;
}

body {
	margin: 0;
}

.full {
	width: 100%;
	height: 100vh;
}

.nav-bar {
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: auto;
}

.portion {
	justify-content: space-between;
	align-items: center;
	width: 85%;
	display: flex;
}

.nav-hrefs {
	display: flex;
	justify-content: space-between;
	width: 50%;
	/* line-height: 2em; */
	text-decoration: none;
}

.nav-hrefs > .element {
	line-height: 2em;
	display: inline-block;
	text-align: center;
	font-size: large;
	color: black;
	padding: 10px 10px;
	text-decoration: none;
}

.nav-hrefs > .element:hover {
	
	color:rgb(69, 171, 255);
	text-decoration: underline;
	background-color: rgb(69, 171, 255);
	color: white;
	transition: background-color 3s cubic 3s;
}

.nar-bar > .about {
	float: right;
}

.logo-container {
	height: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
}

.logo-container > .element {
	margin-right: 20px;
	line-height: 2em;
	display: inline-block;
	text-align: center;
	font-size: large;
	color: black;
	padding: 10px 10px;
	text-decoration: none;
}

.logo-container > .element:hover {
	text-decoration: underline;
	color: rgb(29, 95, 172);
	background-color: rgb(69, 171, 255);
	color: white;
}


.logo {
	filter: brightness(0.8);
	width: 40px;
	height: 40px;
	transition: all 0.8s;
}

.logo:hover{
	filter: brightness(0.25);
}

.background {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh);
	background-image: url(imgs/gallery/5.jpg);
	background-size: cover;
	z-index: -1;
}

.statement {
	position: absolute;
	left: 10%;
	width: 60%;
	bottom: 10vh;
	font-size: 70px;
	font-family: Questa;
	color: white;
	padding-left: 20px;
	border-left: 2px solid white;
}

.slogan {
	position: absolute;
	left: 10%;
	width: 40%;
	top: 10vh;
	font-size: 30px;
	font-family: Questa;
	color: white;
	padding-left: 20px;
	border-left: 2px solid white;
}

/* .area {
	padding: 20px 10%;
	display: flex;
	justify-content: space-between;
}

.area .left {
	width: 47%;
}

.area .right {
	width: 47%;
	background-color: green;
}

.area img {
	width: 100%;
	height: auto;
}

.panel {
	background-color: black;
	padding: 10px;
	width: 100%;
	height: auto;
}

.inner {
	background-color: white;
} */

.section {
	margin: 20px 10%;
	display: flex;
	justify-content: space-between;
	align-self: center;
}

.column {
	align-self: flex-start;
	width: 49%;
	padding: 2px;
	height: auto;
}

.space {
	margin-bottom: 10px;
	background-color: black;
}

.section img{
	width: 100%;
	height: auto;
	opacity: 1;
	transition: all 1s;
}

.section img:hover {
	
	opacity: 0.5;
}

@font-face {
	font-family: Questa;
	src: url(fonts/2-Questa_Regular.otf);
}